@model  List<asp.net_core_deneme1.Models.Kitap>   

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>kitap sayfam</title>

</head>
<body>
    <div style="background-color:#ff0000">..</div>
    <div style="background-color:#ff0000">..</div>
    <div style="background-color:#ff0000">..</div>
    <div>bu sayfada şöyle böyle yapacağız </div>
    <div style="background-color:#ff0000">

        @DateTime.Now.ToShortDateString()
        @for (int i = 0; i < 10; i++)
        {
            @i
            <br />
        }
    </div>
    <br />
    <br />
    <div style="background-color:#00ff21">
  
    </div>
    <div style="background-color:#808080" width="1250px" length="100px">
        n
        <div style="background-color:darkred" width="200px" length="100px">as</div>
    </div>
    <h4>Merhaba Kitap Sayfamıza Hoşgeldiniz</h4>
         <table>
             @foreach (var kitap in Model) //12.adım
             {
             <tr>
                 <td> @kitap.ID </td>
                
                 <td>@kitap.KitapAd</td>
                 <td>@kitap.Yazar</td>

             </tr>
              
             }
         </table>
    <div>
        @ViewBag.deger1
    </div>
</body>

</html>
